<p>Home works!</p>
<!-- Template Form -->
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

    <input type="text" [(ngModel)]="user.name" required #name="ngModel" name="name">Enter your name
    <div *ngIf="name.invalid && name.touched" style="color:red">Please enter the valid details</div>
    <br>
    <input type="email" [(ngModel)]="user.email" required #email="ngModel" name="email">Enter your email
    <div *ngIf="email.invalid && name.touched" style="color:red">Please enter the valid details</div>
    <br>
    <button type="submit" [disabled]="userForm.invalid">submit</button>

</form>
<router-outlet></router-outlet>

<p>{{user.name}}</p>
<p>{{user.email}}</p>